@bg_color: aquamarine;
@widht: 1280px;
@border: 1px solid black;
@font-family-form: Arial;
@font-family-form-size: 18px;
@font-family-form-color: red;
@font-style: italic ;

form, input {
    font-family: @font-family-form;
    font-size: @font-family-form-size;
    color: @font-family-form-color;
    font-style: @font-style;
}
input {
    display: block;
}

